In [1]:
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py

In [2]:
hdf_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/data')
failed_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/failed_queries.csv')
context_path = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/context_data.csv')

# Analyze data aquisition

In [3]:
df_context = pd.read_csv(context_path)
df_context

/cvmfs/sft.cern.ch/lcg/views/LCG_100_nxcals/x86_64-centos7-gcc9-opt/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3048: DtypeWarning: Columns (241) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = yield from self.run_ast_nodes(code_ast.body, cell_name,

,circuit_type,circuit_name,timestamp_fgc,EETResPM_RR17.RB.A12:T_RES_BODY_1,EETResPM_RR17.RB.A12:T_RES_BODY_2,EETResPM_RR17.RB.A12:T_RES_BODY_3,EEUDumpResPM_RR17.RB.A12:U_DUMP_RES,Leads_DFLAS.7R1.RB.A12.LD3:U_HTS,Leads_DFLAS.7R1.RB.A12.LD4:U_HTS,Leads_DFLAS.7R1.RB.A12.LD3:U_RES,...,VoltageLogicIQPS_C18L3:U_1,VoltageLogicIQPS_C18L3:U_2,VoltageLogicIQPS_C18L3:ST_NQD0,VoltageLogicIQPS_C18L3:ST_MAGNET_OK,VoltageLogicIQPS_A19L3:U_QS0,VoltageLogicIQPS_A19L3:U_1,VoltageLogicIQPS_A19L3:U_2,VoltageLogicIQPS_A19L3:ST_NQD0,VoltageLogicIQPS_A19L3:ST_MAGNET_OK,CurrentVoltageDiodeLeadsPM_MB.C29L5:U_DIODE_RB
0,RB,RB.A12,1418330714580000000,998.0,998.0,998.0,1198.0,600.0,600.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RB,RB.A12,1418384764500000000,998.0,998.0,998.0,1198.0,600.0,600.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RB,RB.A12,1418484670560000000,997.0,997.0,997.0,1198.0,250.0,250.0,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RB,RB.A12,1418538814280000000,998.0,998.0,998.0,1198.0,600.0,600.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RB,RB.A12,1418560853860000000,998.0,998.0,998.0,1198.0,600.0,600.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,RB,RB.A45,1619846901480000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,RB,RB.A34,1619850501280000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,RB,RB.A12,1619859877220000000,998.0,998.0,998.0,1198.0,250.0,250.0,250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,RB,RB.A34,1619891288980000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,RB,RB.A45,1619885952360000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_failed = pd.read_csv(failed_dir)
df_failed

,circuit_type,circuit_name,timestamp_fgc,CurrentVoltageDiodeLeadsPM,CurrentVoltageDiodeLeadsNXCALS,EETResPM,EEUDumpResPM,Leads,PCPM,QHPM,VoltageLogicNQPS,VoltageLogicIQPS,VoltageNXCALS
0,RB,RB.A12,1418330714580000000,no DataFrame returned,no DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN,NaN
1,RB,RB.A12,1418384764500000000,no DataFrame returned,no DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN,NaN
2,RB,RB.A12,1418484670560000000,no DataFrame returned,no DataFrame returned,empty DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN
3,RB,RB.A12,1418538814280000000,no DataFrame returned,no DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN,NaN
4,RB,RB.A12,1418560853860000000,no DataFrame returned,no DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,RB,RB.A12,1621227996860000000,Unable to create group (name already exists),no DataFrame returned,empty DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,Unable to create group (name already exists),NaN,empty DataFrame returned
674,RB,RB.A23,1621233471920000000,Unable to create group (name already exists),no DataFrame returned,empty DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,Unable to create group (name already exists),NaN,empty DataFrame returned
675,RB,RB.A45,1621230431820000000,Unable to create group (name already exists),no DataFrame returned,empty DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,Unable to create group (name already exists),NaN,empty DataFrame returned
676,RB,RB.A12,1621274992920000000,Unable to create group (name already exists),no DataFrame returned,Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists),Unable to create group (name already exists)
677,RB,RB.A45,1621277927780000000,Unable to create group (name already exists),no DataFrame returned,empty DataFrame returned,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN,NaN,NaN

# Open h5 files

In [5]:
file_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/data')

for index, row in df_context.iterrows():   
    circuit_type = 'RB' #row['circuit_type']
    circuit_name = 'RB.A45' #row['circuit_name']
    timestamp_fgc = 1492946941100000000 #row['timestamp_fgc']
    
    filename = f"{circuit_type}_{circuit_name}_{timestamp_fgc}.hdf5"
    
    with h5py.File(file_dir / filename, "r") as f:
        k = np.array(f.keys())
        print(k)
        print(np.array(f["IEARTH.IEARTH"].get("values")))
        
    break

OSError: Unable to open file (unable to open file: name = '/eos/project/m/ml-for-alarm-system/private/RB_signals/data/RB_RB.A45_1492946941100000000.hdf5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)

In [ ]:
import sys
from pathlib import Path
sys.path.insert(0,'..')
from src.acquisitions.pc_pm import PCPM
from src.acquisitions.voltage_logic_nqps import VoltageLogicNQPS

circuit_type = 'RB' #row['circuit_type']
circuit_name = 'RB.A45' #row['circuit_name']
timestamp_fgc = 1481636367560000000 #row['timestamp_fgc']

VoltageLogicNQPS(circuit_type, circuit_name, timestamp_fgc, spark=spark).get_signal_data()

In [ ]:
c = CurrentVoltageDiodeLeadsNXCALS(circuit_type, circuit_name, timestamp_fgc, spark=spark)

c.query_builder.query_current_voltage_diode_leads_nxcals(c.signal_timestamp, spark=c.spark, duration=c.duration)