In [14]:
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py

In [15]:
hdf_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/data')
failed_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/failed_queries.csv')
context_path = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/context_data.csv')

# Analyze data aquisition

In [16]:
df_context = pd.read_csv(context_path)
df_context

,circuit_type,circuit_name,timestamp_fgc,STATUS.I_MEAS,IAB.I_A,IEARTH.IEARTH,STATUS.I_EARTH_PCNT,STATUS.I_REF,RR17.RB.A12:U_DUMP_RES,RR17.RB.A12:T_RES_BODY_1,...,B28R1:U_HDS_3,B28R1:U_HDS_4,A28R1:I_HDS_1,A28R1:I_HDS_2,A28R1:I_HDS_3,A28R1:I_HDS_4,A28R1:U_HDS_1,A28R1:U_HDS_2,A28R1:U_HDS_3,A28R1:U_HDS_4
0,RB,RB.A12,1418330714580000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RB,RB.A12,1418384764500000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RB,RB.A12,1418484670560000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,997.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RB,RB.A12,1418538814280000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RB,RB.A12,1418560853860000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RB,RB.A12,1418593749920000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,997.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,RB,RB.A12,1418626484100000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RB,RB.A12,1421531813780000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,RB,RB.A12,1421580539680000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RB,RB.A12,1446531949860000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,RB,RB.A12,1465578785320000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RB,RB.A12,1470229204900000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,RB,RB.A12,1492890506140000000,21000.0,8192.0,1024.0,21000.0,21000.0,1198.0,998.0,...,16374.0,16374.0,16374.0,16374.0,16374.0,16374.0,16374.0,16374.0,16374.0,16374.0

In [12]:
df_failed = pd.read_csv(failed_dir)
df_failed

,circuit_type,circuit_name,timestamp_fgc,EE_U_DUMP_RES_PM,EE_T_RES_PM,CURRENT_VOLTAGE_DIODE_LEADS_PM,error,LEADS
0,RB,RB.A12,1418330714580000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,NaN,NaN
1,RB,RB.A12,1418384764500000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,NaN,NaN
2,RB,RB.A12,1418484670560000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,Unable to create group (name already exists),empty DataFrame returned
3,RB,RB.A12,1418538814280000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,Unable to create group (name already exists),NaN
4,RB,RB.A12,1418560853860000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,Unable to create group (name already exists),NaN
5,RB,RB.A12,1418593749920000000,empty DataFrame returned,empty DataFrame returned,no DataFrame returned,Unable to create group (name already exists),empty DataFrame returned
6,RB,RB.A12,1418626484100000000,empty DataFrame returned,empty DataFrame returned,NaN,NaN,NaN

# Open h5 files

In [13]:
file_dir = Path('/eos/project/m/ml-for-alarm-system/private/RB_signals/data')

for index, row in df_context.iterrows():
    filename = f"{row['circuit_type']}_{row['circuit_name']}_{int(row['timestamp_fgc'])}.hdf5"
    
    with h5py.File(file_dir / filename, "r") as f:
        print(f.keys())
        print(np.array(f["STATUS.I_MEAS"].get("values")))
        
        
    break

<KeysViewHDF5 ['C17R1:I_HDS_1', 'C17R1:I_HDS_2', 'C17R1:I_HDS_3', 'C17R1:I_HDS_4', 'C17R1:ST_MAGNET_OK', 'C17R1:ST_NQD0', 'C17R1:U_1', 'C17R1:U_2', 'C17R1:U_HDS_1', 'C17R1:U_HDS_2', 'C17R1:U_HDS_3', 'C17R1:U_HDS_4', 'C17R1:U_QS0', 'DFLAS.7L2.RB.A12.LD1:U_HTS', 'DFLAS.7L2.RB.A12.LD1:U_RES', 'DFLAS.7L2.RB.A12.LD2:U_HTS', 'DFLAS.7L2.RB.A12.LD2:U_RES', 'DFLAS.7R1.RB.A12.LD3:U_HTS', 'DFLAS.7R1.RB.A12.LD3:U_RES', 'DFLAS.7R1.RB.A12.LD4:U_HTS', 'DFLAS.7R1.RB.A12.LD4:U_RES', 'IAB.I_A', 'IEARTH.IEARTH', 'I_MEAS_LEADS', 'MB.A10L2:U_DIODE_RB', 'MB.A10L2:U_EARTH_RB', 'MB.A10R1:U_DIODE_RB', 'MB.A10R1:U_EARTH_RB', 'MB.A11L2:U_DIODE_RB', 'MB.A11R1:U_DIODE_RB', 'MB.A12L2:U_DIODE_RB', 'MB.A12R1:U_DIODE_RB', 'MB.A13L2:U_DIODE_RB', 'MB.A13R1:U_DIODE_RB', 'MB.A14L2:U_DIODE_RB', 'MB.A14R1:U_DIODE_RB', 'MB.A15L2:U_DIODE_RB', 'MB.A15R1:U_DIODE_RB', 'MB.A16L2:U_DIODE_RB', 'MB.A16R1:U_DIODE_RB', 'MB.A17L2:U_DIODE_RB', 'MB.A17R1:U_DIODE_RB', 'MB.A18L2:U_DIODE_RB', 'MB.A18R1:U_DIODE_RB', 'MB.A19L2:U_DIODE_RB', 'MB.A19R1:U_DIODE_RB', 'MB.A20L2:U_DIODE_RB', 'MB.A20R1:U_DIODE_RB', 'MB.A21L2:U_DIODE_RB', 'MB.A21R1:U_DIODE_RB', 'MB.A22L2:U_DIODE_RB', 'MB.A22R1:U_DIODE_RB', 'MB.A23L2:U_DIODE_RB', 'MB.A23R1:U_DIODE_RB', 'MB.A24L2:U_DIODE_RB', 'MB.A24R1:U_DIODE_RB', 'MB.A25L2:U_DIODE_RB', 'MB.A25R1:U_DIODE_RB', 'MB.A26L2:U_DIODE_RB', 'MB.A26R1:U_DIODE_RB', 'MB.A27L2:U_DIODE_RB', 'MB.A27R1:U_DIODE_RB', 'MB.A28L2:U_DIODE_RB', 'MB.A28R1:U_DIODE_RB', 'MB.A29L2:U_DIODE_RB', 'MB.A29R1:U_DIODE_RB', 'MB.A30L2:U_DIODE_RB', 'MB.A30R1:U_DIODE_RB', 'MB.A31L2:U_DIODE_RB', 'MB.A31R1:U_DIODE_RB', 'MB.A32L2:U_DIODE_RB', 'MB.A32R1:U_DIODE_RB', 'MB.A33L2:U_DIODE_RB', 'MB.A33R1:U_DIODE_RB', 'MB.A33R1:U_EARTH_RB', 'MB.A34L2:U_DIODE_RB', 'MB.A34R1:U_DIODE_RB', 'MB.A8L2:U_DIODE_RB', 'MB.A8L2:U_EARTH_RB', 'MB.A8R1:U_DIODE_RB', 'MB.A8R1:U_EARTH_RB', 'MB.A9L2:U_DIODE_RB', 'MB.A9R1:U_DIODE_RB', 'MB.B10L2:U_DIODE_RB', 'MB.B10R1:U_DIODE_RB', 'MB.B11L2:U_DIODE_RB', 'MB.B11L2:U_EARTH_RB', 'MB.B11R1:U_DIODE_RB', 'MB.B11R1:U_EARTH_RB', 'MB.B12L2:U_DIODE_RB', 'MB.B12R1:U_DIODE_RB', 'MB.B13L2:U_DIODE_RB', 'MB.B13R1:U_DIODE_RB', 'MB.B14L2:U_DIODE_RB', 'MB.B14R1:U_DIODE_RB', 'MB.B15L2:U_DIODE_RB', 'MB.B15R1:U_DIODE_RB', 'MB.B16L2:U_DIODE_RB', 'MB.B16R1:U_DIODE_RB', 'MB.B17L2:U_DIODE_RB', 'MB.B17R1:U_DIODE_RB', 'MB.B18L2:U_DIODE_RB', 'MB.B18R1:U_DIODE_RB', 'MB.B19L2:U_DIODE_RB', 'MB.B19R1:U_DIODE_RB', 'MB.B20L2:U_DIODE_RB', 'MB.B20R1:U_DIODE_RB', 'MB.B21L2:U_DIODE_RB', 'MB.B21R1:U_DIODE_RB', 'MB.B22L2:U_DIODE_RB', 'MB.B22R1:U_DIODE_RB', 'MB.B23L2:U_DIODE_RB', 'MB.B23R1:U_DIODE_RB', 'MB.B24L2:U_DIODE_RB', 'MB.B24R1:U_DIODE_RB', 'MB.B25L2:U_DIODE_RB', 'MB.B25R1:U_DIODE_RB', 'MB.B26L2:U_DIODE_RB', 'MB.B26R1:U_DIODE_RB', 'MB.B27L2:U_DIODE_RB', 'MB.B27R1:U_DIODE_RB', 'MB.B28L2:U_DIODE_RB', 'MB.B28R1:U_DIODE_RB', 'MB.B29L2:U_DIODE_RB', 'MB.B29R1:U_DIODE_RB', 'MB.B30L2:U_DIODE_RB', 'MB.B30R1:U_DIODE_RB', 'MB.B31L2:U_DIODE_RB', 'MB.B31R1:U_DIODE_RB', 'MB.B32L2:U_DIODE_RB', 'MB.B32R1:U_DIODE_RB', 'MB.B33L2:U_DIODE_RB', 'MB.B33R1:U_DIODE_RB', 'MB.B34L2:U_DIODE_RB', 'MB.B34R1:U_DIODE_RB', 'MB.B8L2:U_DIODE_RB', 'MB.B8L2:U_EARTH_RB', 'MB.B8R1:U_DIODE_RB', 'MB.B8R1:U_EARTH_RB', 'MB.B9L2:U_DIODE_RB', 'MB.B9R1:U_DIODE_RB', 'MB.C12L2:U_DIODE_RB', 'MB.C12L2:U_EARTH_RB', 'MB.C12R1:U_DIODE_RB', 'MB.C12R1:U_EARTH_RB', 'MB.C13L2:U_DIODE_RB', 'MB.C13L2:U_EARTH_RB', 'MB.C13R1:U_DIODE_RB', 'MB.C13R1:U_EARTH_RB', 'MB.C14L2:U_DIODE_RB', 'MB.C14L2:U_EARTH_RB', 'MB.C14R1:U_DIODE_RB', 'MB.C14R1:U_EARTH_RB', 'MB.C15L2:U_DIODE_RB', 'MB.C15L2:U_EARTH_RB', 'MB.C15R1:U_DIODE_RB', 'MB.C15R1:U_EARTH_RB', 'MB.C16L2:U_DIODE_RB', 'MB.C16L2:U_EARTH_RB', 'MB.C16R1:U_DIODE_RB', 'MB.C16R1:U_EARTH_RB', 'MB.C17L2:U_DIODE_RB', 'MB.C17L2:U_EARTH_RB', 'MB.C17R1:U_DIODE_RB', 'MB.C17R1:U_DIODE_RB_LEADS', 'MB.C17R1:U_EARTH_RB', 'MB.C18L2:U_DIODE_RB', 'MB.C18L2:U_EARTH_RB', 'MB.C18R1:U_DIODE_RB', 'MB.C18R1:U_EARTH_RB', 'MB.C19L2:U_DIODE_RB', 'MB.C19L2:U_EARTH_RB', 'MB.C19R1:U_DIODE_RB', 'MB.C19R1:U_EARTH_RB', 'MB.C20L2:U_DIODE_RB', 'MB.C20L2:U_EARTH_RB', 'MB.C20R1:U_DIODE_RB', 'MB.C20R1:U_EARTH_RB', 'MB.C21L2:U_DIODE_RB', 'MB.C21L2:U_EARTH_RB', 'MB.C21R1:U_DIODE_RB', 'MB.C21R1:U_EARTH_RB', 'MB.C22L2:U_DIODE_RB', 'MB.C22L2:U_EARTH_RB', 'MB.C22R1:U_DIODE_RB', 'MB.C22R1:U_EARTH_RB', 'MB.C23L2:U_DIODE_RB', 'MB.C23L2:U_EARTH_RB', 'MB.C23R1:U_DIODE_RB', 'MB.C23R1:U_EARTH_RB', 'MB.C24L2:U_DIODE_RB', 'MB.C24L2:U_EARTH_RB', 'MB.C24R1:U_DIODE_RB', 'MB.C24R1:U_EARTH_RB', 'MB.C25L2:U_DIODE_RB', 'MB.C25L2:U_EARTH_RB', 'MB.C25R1:U_DIODE_RB', 'MB.C25R1:U_EARTH_RB', 'MB.C26L2:U_DIODE_RB', 'MB.C26L2:U_EARTH_RB', 'MB.C26R1:U_DIODE_RB', 'MB.C26R1:U_EARTH_RB', 'MB.C27L2:U_DIODE_RB', 'MB.C27L2:U_EARTH_RB', 'MB.C27R1:U_DIODE_RB', 'MB.C27R1:U_EARTH_RB', 'MB.C28L2:U_DIODE_RB', 'MB.C28L2:U_EARTH_RB', 'MB.C28R1:U_DIODE_RB', 'MB.C28R1:U_EARTH_RB', 'MB.C29L2:U_DIODE_RB', 'MB.C29L2:U_EARTH_RB', 'MB.C29R1:U_DIODE_RB', 'MB.C29R1:U_EARTH_RB', 'MB.C30L2:U_DIODE_RB', 'MB.C30L2:U_EARTH_RB', 'MB.C30R1:U_DIODE_RB', 'MB.C30R1:U_EARTH_RB', 'MB.C31L2:U_DIODE_RB', 'MB.C31L2:U_EARTH_RB', 'MB.C31R1:U_DIODE_RB', 'MB.C31R1:U_EARTH_RB', 'MB.C32L2:U_DIODE_RB', 'MB.C32L2:U_EARTH_RB', 'MB.C32R1:U_DIODE_RB', 'MB.C32R1:U_EARTH_RB', 'MB.C33L2:U_DIODE_RB', 'MB.C33L2:U_EARTH_RB', 'MB.C33R1:U_DIODE_RB', 'MB.C34L2:U_DIODE_RB', 'MB.C34L2:U_EARTH_RB', 'MB.C34R1:U_DIODE_RB', 'MB.C34R1:U_EARTH_RB', 'RR17.RB.A12:T_RES_BODY_1', 'RR17.RB.A12:T_RES_BODY_2', 'RR17.RB.A12:T_RES_BODY_3', 'RR17.RB.A12:U_DUMP_RES', 'STATUS.I_EARTH_PCNT', 'STATUS.I_MEAS', 'STATUS.I_REF']>
[1999.9993   2000.001    1999.9993   ...   99.744804   99.728134
   99.70689 ]

In [ ]:
ds